@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove default browser focus  */
*:focus {
  outline: none;
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* For IE and Edge */
* {
  -ms-overflow-style: none;
}

*::-ms-scrollbar {
  width: 8px;
  height: 8px;
}

*::-ms-scrollbar-track {
  background: #f1f1f1;
}

*::-ms-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

*::-ms-scrollbar-thumb:hover {
  background: #555;
}

/* Remove default anchor styles */
a {
  text-decoration: none;
  color: inherit;
  border: none;
  margin: 0;
  outline: none;
  position: relative;
  overflow: hidden !important;
  transition: 0.4s;
  display: block;
}
.a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #76063d;
  transform: translateX(-100%);
  transition: 0.4s;
}
.a:hover::after,
.a:focus::after {
  transform: translateX(0%);
}
.btn svg {
  transition: 0.4s;
}
.btn:hover svg,
.btn:focus svg {
  transform: rotate(45deg);
}

.react-svg > div > div {
  display: flex !important;
  align-items: center !important;
}

.input-container {
  position: relative;
}

.input-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  z-index: 400;
  background-color: currentColor;
  transition: all 0.4s ease-out;
}

.input-container:focus-within::after {
  width: 100%;
  left: 0%;
}

.img-hover {
  transition: transform 0.4s;
}
.img-hover:hover img {
  transform: scale(130%);
}
.img-hover:hover .svg-parent {
  opacity: 0.75;
}

.hero-slider {
  position: relative;
}
.hero-slider::after {
  content: "";
  position: absolute;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0) 75%
  );
  animation: shimmer 8s linear infinite;
  width: 100%;
  top: 0;
  left: 0;
}

@keyframes shimmer {
  0% {
    transform: translateX(-1000px);
  }
  20% {
    transform: translateX(3000px);
  }
  40% {
    transform: translateX(3000px);
  }
  60% {
    transform: translateX(-1000px);
  }
  80% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(-1000px);
  }
}

/* .marquee-anim {
  animation: marquee 6s linear infinite;
} */

.marquee-anim[data-animated="true"]:hover .inner {
  animation-play-state: paused;
}

.marquee-anim[data-animated="true"] .inner {
  animation: marquee 10s linear infinite;
}

.marquee-anim[data-animated="true"] {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
}

.marquee-anim[data-animated="false"] {
  animation: none;
  flex-wrap: wrap;
  gap: 1.25rem;
}

@keyframes marquee {
  to {
    transform: translateX(calc(-50% - 3.25rem));
  }
}
.bx-shdw {
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .bx-shdw {
    box-shadow: 0px 0.546px 3.275px 0px rgba(0, 0, 0, 0.1);
  }
}

.active {
  border-bottom: 1px solid #76063d;
  width: fit-content;
}

@media (min-width: 1280px) {
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  .conic-nav-bg {
    background-image: conic-gradient(
      from var(--angle),
      transparent,
      #76063d1a,
      #76063d,
      #76063d,
      #76063d,
      #76063d1a,
      transparent
    );
  }

  .conic-nav-bg:hover,
  .conic-nav-bg:focus {
    animation: 1s spin linear infinite;
  }

  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }

  .reg-nav-bg {
    background-color: #76063d1a;
    transition: all 0.4s;
  }

  .reg-nav-bg:hover,
  .reg-nav-bg:focus {
    background-color: rgba(118, 6, 60, 0.348);
  }
}
