@tailwind base;
@tailwind components;
@tailwind utilities;

/* remove default browser focus  */
*:focus {
  outline: none;
}
/* Remove default anchor styles */
a {
  text-decoration: none;
  color: inherit;
  border: none;
  margin: 0;
  outline: none;
  position: relative;
  overflow: hidden !important;
  transition: 0.4s;
  display: block;
}
.a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #76063d;
  transform: translateX(-100%);
  transition: 0.4s;
}
.a:hover::after,
.a:focus::after {
  transform: translateX(0%);
}
.btn svg {
  transition: 0.4s;
}
.btn:hover svg,
.btn:focus svg {
  transform: rotate(45deg);
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.conic-nav-bg {
  background-image: conic-gradient(
    from var(--angle),
    transparent,
    #76063d1a,
    #76063d,
    #76063d,
    #76063d,
    #76063d1a,
    transparent
  );
}

.conic-nav-bg:hover,
.conic-nav-bg:focus {
  animation: 1s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.react-svg > div > div {
  display: flex !important;
  align-items: center !important;
}

.input-container {
  position: relative;
}

.input-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  z-index: 400;
  background-color: currentColor;
  transition: all 0.4s ease-out;
}

.input-container:focus-within::after {
  width: 100%;
  left: 0%;
}

.img-hover {
  transition: transform 0.4s;
}
.img-hover:hover img {
  transform: scale(130%);
}
