@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default anchor styles */
a {
  text-decoration: none !important;
  color: inherit !important;
  border: none !important;
  margin: 0 !important;
  outline: none !important;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.conic-nav-bg {
  background-image: conic-gradient(
    from var(--angle),
    transparent,
    #76063d1a,
    #76063d,
    #76063d,
    #76063d,
    #76063d1a,
    transparent
  );
}

.conic-nav-bg:hover {
  animation: 1s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
